.App{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color: #eee;
  min-height: 100vh;
}

.App > header{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  justify-content:space-around;
  align-items: center;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.208);
  z-index: 2;
}

.App > main{
  margin: 70px auto 30px auto;
  padding-top: 30px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App > main > .widget{
  height: 200px;
  width: 250px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.208);
}

.App > main > .widget > button{
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 50px;
  font-family:'Courier New', Courier, monospace;
  cursor: pointer;
  color: #888;
  transition: all 350ms ease;
}
.App > main > .widget > button:hover{
  background-color: teal;
  color: #fff;
}

.App > main > .widget > .toggle {
  background-color: #ddd;
  width: 90px;
  height: 40px;
  padding: 5px;
  border-radius: 50px;
}

.App > main > .widget > .toggle > input {
  display: none;
}

.App > main > .widget > .toggle > label {
  width: 40px;
  height: 40px;
  background-color: #aaa;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  transition: all 350ms ease;
  z-index: 1;
}
.App > main > .widget > .toggle > label:hover {
  background-color: #888;
}

.App > main > .widget > .toggle > input:checked + label {
  margin-left: 50px;
  background-color: teal;
}

.App > main > .widget > .toggle:before, .App > main > div > .toggle:after {
  content: "ON";
  position: absolute;
  margin-left: -45px;
  font-size: 18px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  z-index: 0;
  color: teal;
}

.App > main > .widget > .toggle:after {
  content: "OFF";
  margin-top: -40px;
  margin-left: 5px;
  color: #888;
}